OLLAMA_API_URL=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=hf.co/Zkare/Chatbot_Ielts_Assistant_v2:Q4_K_M

# Set false if you only want direct LLM chat.
ENABLE_VECTOR_RAG=true
EMBEDDING_MODEL_NAME=BAAI/bge-m3

RAG_TOP_K=5
RAG_MIN_SCORE=0.45
CHUNK_SIZE=1200
CHUNK_OVERLAP=180
